@page "/manage-guild/{GuildId}"

@attribute [Authorize]

@inherits DashboardPageBase

@using Microsoft.AspNetCore.Components
@using static Silk.Dashboard.Helpers.StringHelpers

@if (RequestFailed)
{
    <MudContainer Class="d-flex flex-column align-center justify-center mud-height-full">
        <MudText Class="mb-4" Typo="Typo.h3">Uh Oh! 😢</MudText>
        <MudText Typo="Typo.h4">
            Looks like the requested guild either isn't available or the request failed. <br/>
            Refresh the page or try a different guild id to try again.
        </MudText>
    </MudContainer>
}
else if (_guild is null)
{
    <LoadingView/>
}
else
{
    <MudContainer>
        <HeaderView ImageUrl="@GuildView.GetGuildIconUrl(_guild)" Text="@_guild.Name.Value"/>

        <MudDivider Class="my-7" Style="height: 4px" DividerType="DividerType.Middle"/>

        <MudText Class="mb-7" Color="Color.Info" Typo="Typo.subtitle1" Align="Align.Center">
            Propagating changes to the bot may take up to 10 minutes
        </MudText>

        @* Guild Config Tabs *@
        @if (_guildConfig is null)
        {
            <LoadingView>
                <MudText Class="mr-2">Loading Guild Configuration</MudText>
                <MudProgressCircular Size="Size.Small" Indeterminate="true"/>
            </LoadingView>
        }
        else
        {
            <MudTabs @ref="_tabContainer" PanelClass="pa-4"
                     Color="Color.Dark" Elevation="2" Rounded="true"
                     ApplyEffectsToContainer="true">
                @* General Tab *@
                <MudTabPanel ID="@GenConfigTabId"
                             Text="General Configuration"
                             Icon="@Icons.Material.Filled.Build">
                    <MudContainer>
                        @* Todo: Rewrite using greeting entities *@
                        @* Todo: Extract logic for displaying Greetings to component *@
                        @if (_guildConfig.Greetings.Count < 1)
                        {
                            <MudText Typo="Typo.h5">
                                No configured greetings yet.
                            </MudText>
                        }
                        else
                        {
                            <MudContainer Class="d-flex flex-row">
                                <MudText Typo="Typo.h5">Configured Greetings</MudText>
                                <MudSpacer/>
                                <MudSwitch @bind-Checked="_showGreetingEditor" Label="@(_showGreetingEditor ? "Close Editor" : "Open Editor")" Color="Color.Info"/>
                            </MudContainer>

                            @if (_showGreetingEditor)
                            {
                                <GuildGreetingEditor/>
                            }

                            <MudList>
                                @foreach (var greetingEntity in _guildConfig.Greetings)
                                {
                                                    @* Todo: Remove this placeholder *@
                                    var t = $"{greetingEntity.ChannelID.Value} - {greetingEntity.Option} - {greetingEntity.Message}";
                                    <MudListItem Text="@t"/>
                                }
                            </MudList>
                        }
                    </MudContainer>
                </MudTabPanel>

                @* Moderation Tab *@
                <MudTabPanel ID="@ModConfigTabId"
                             Text="Moderation Configuration"
                             Icon="@Icons.Material.Filled.Shield">
                    <MudContainer>
                        <div class="mb-7">
                            <MudText Typo="Typo.h5">Options</MudText>
                            <MudGrid Spacing="0">
                                @* Todo: Create separate sections for each Entity type (i.e LoggingEntity, etc...) *@
                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.UseNativeMute"
                                                 Label="@LabelFor(() => _guildConfig.UseNativeMute)"/>
                                </MudItem>

                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.Logging.LogMessageEdits"
                                                 Label="@LabelFor(() => _guildConfig.Logging.LogMessageEdits)"/>
                                </MudItem>

                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.Logging.LogMemberJoins"
                                                 Label="@LabelFor(() => _guildConfig.Logging.LogMemberJoins)"/>
                                </MudItem>

                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.Logging.LogMemberLeaves"
                                                 Label="@LabelFor(() => _guildConfig.Logging.LogMemberLeaves)"/>
                                </MudItem>

                                @* Todo: Make/Show another section to add the LoggingId and Webhook URL *@
                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.Logging.UseWebhookLogging"
                                                 Label="@LabelFor(() => _guildConfig.Logging.UseWebhookLogging)"/>
                                </MudItem>

                                @* Todo: Add separate section for adding Whitelisted invites *@
                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.Invites.WhitelistEnabled"
                                                 Label="@LabelFor(() => _guildConfig.Invites.WhitelistEnabled)"/>
                                </MudItem>

                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.Invites.WarnOnMatch"
                                                 Label="@LabelFor(() => _guildConfig.Invites.WarnOnMatch)"/>
                                </MudItem>

                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.Invites.DeleteOnMatch"
                                                 Label="@LabelFor(() => _guildConfig.Invites.DeleteOnMatch)"/>
                                </MudItem>

                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.Invites.UseAggressiveRegex"
                                                 Label="@LabelFor(() => _guildConfig.Invites.UseAggressiveRegex)"/>
                                </MudItem>

                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.DetectPhishingLinks"
                                                 Label="@LabelFor(() => _guildConfig.DetectPhishingLinks)"/>
                                </MudItem>

                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.DeletePhishingLinks"
                                                 Label="@LabelFor(() => _guildConfig.DeletePhishingLinks)"/>
                                </MudItem>

                                <MudItem xs="12" sm="6" md="4">
                                    <MudCheckBox @bind-Checked="_guildConfig.ProgressiveStriking"
                                                 Label="@LabelFor(() => _guildConfig.ProgressiveStriking)"/>
                                </MudItem>
                            </MudGrid>
                        </div>

                        @* Todo: Replace field with Select when grabbing channels from guild *@
                        <div class="mb-7">
                            <MudGrid Spacing="4">
                                <MudItem xs="12" sm="6">
                                    <MudTooltip Placement="Placement.Bottom" Text="Id of the role to apply when muting members.">
                                        <MudText Typo="Typo.h5">
                                            @LabelFor(() => _guildConfig.MuteRoleID)
                                        </MudText>
                                    </MudTooltip>

                                    @* Todo: Check that this doesn't crash with input *@
                                    <MudTextField @bind-Value="_guildConfig.MuteRoleID"
                                                  Variant="Variant.Outlined"/>
                                </MudItem>

                                <MudItem xs="12" sm="6">
                                    <MudTooltip Placement="Placement.Bottom" Text="The maximum amount of users that can be mentioned in a single message.">
                                        <MudText Typo="Typo.h5">
                                            @LabelFor(() => _guildConfig.MaxUserMentions)
                                        </MudText>
                                    </MudTooltip>

                                    @* Todo: Check that inputs to these fields don't cause similar bug behavior *@
                                    <MudNumericField @bind-Value="_guildConfig.MaxUserMentions"
                                                     Min="0" Variant="Variant.Outlined" HideSpinButtons="true"/>
                                </MudItem>

                                <MudItem xs="12" sm="6">
                                    <MudTooltip Placement="Placement.Bottom" Text="The maximum amount of roles that can be mentioned in a single role.">
                                        <MudText Typo="Typo.h5">
                                            @LabelFor(() => _guildConfig.MaxRoleMentions)
                                        </MudText>
                                    </MudTooltip>

                                    @* Todo: Check that inputs to these fields don't cause similar bug behavior *@
                                    <MudNumericField @bind-Value="_guildConfig.MaxRoleMentions"
                                                     Min="0" Variant="Variant.Outlined" HideSpinButtons="true"/>
                                </MudItem>
                            </MudGrid>
                        </div>
                    </MudContainer>
                </MudTabPanel>
            </MudTabs>

            <MudButton Class="mt-5" Color="Color.Info" Variant="Variant.Filled"
                       OnClick="SaveChangesAsync" Disabled="IsBusy">
                @if (IsBusy)
                {
                    <MudText Class="mr-2">Saving</MudText>
                    <MudProgressCircular Size="Size.Small" Indeterminate="true"/>
                }
                else
                {
                    <MudText>Save Changes</MudText>
                }
            </MudButton>
        }
    </MudContainer>
}