@using Microsoft.AspNetCore.Components
@using Humanizer
@using Remora.Rest.Core
@using Silk.Data.Entities
@using static Silk.Dashboard.Converters.MudBlazorSnowflakeConverter
@using static Silk.Dashboard.Helpers.StringHelpers

@namespace Silk.Dashboard.Components

@inherits DashboardComponentBase

@if (Greeting is null || _managedGuilds is null)
{
    <LoadingView>
        <Content>
            <MudProgressCircular Size="Size.Large" Indeterminate="true"/>
        </Content>
    </LoadingView>
}
else
{
    <MudCard>
        <MudCardContent>
            <MudForm @ref="_form" Model="Greeting">
                @* Guild ID *@
                <MudContainer Class="mb-4">
                    <MudTooltip Placement="Placement.Top"
                                Text="The ID of the guild to greet members in">
                        <MudText Typo="Typo.h5">
                            @LabelFor(() => Greeting.GuildID)
                        </MudText>
                    </MudTooltip>

                    <MudSelect T="Snowflake"
                               Value="Greeting.GuildID"
                               ValueChanged="@(async g => await UpdateGreetingGuildAsync(g))"
                               Variant="Variant.Outlined">
                        @foreach (var guild in _managedGuilds)
                        {
                            <MudSelectItem Value="@guild.ID.Value">
                                @guild.Name.Value
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudContainer>

                @* Greeting Option *@
                <MudContainer Class="mb-4">
                    <MudTooltip Placement="Placement.Top"
                                Text="How / when to greet new members">
                        <MudText Typo="Typo.h5">
                            @LabelFor(nameof(GreetingOption))
                        </MudText>
                    </MudTooltip>

                    <MudSelect T="GreetingOption" 
                               Value="Greeting.Option"
                               ValueChanged="@(async o => await UpdateGreetingOptionAsync(o))"
                               Variant="Variant.Outlined">
                        @foreach (var go in GreetingOptions)
                        {
                            <MudSelectItem Value="@go">
                                @go.Humanize(LetterCasing.Title)
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudContainer>

                @if (Greeting.Option is GreetingOption.GreetOnRole or GreetingOption.GreetOnJoin)
                {
                    var roleOptionSelected = Greeting.Option is GreetingOption.GreetOnRole;
                    var optionHeader = (roleOptionSelected ? "Role" : "Channel") + " ID";

                    <MudContainer>
                        <MudTooltip Placement="Placement.Top"
                                    Text="@MetaDataIdHelpText">
                            <MudText Typo="Typo.h5">
                                @optionHeader
                            </MudText>
                        </MudTooltip>

                        @if (roleOptionSelected)
                        {
                            if (_guildRoles is not null)
                            {
                                <MudSelect T="Snowflake"
                                           @bind-Value="GreetingMetadataId"
                                           Variant="Variant.Outlined">
                                    @foreach (var role in _guildRoles)
                                    {
                                        <MudSelectItem Value="@role.ID">
                                            @role.Name
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            }
                        }
                        else
                        {
                            if (_guildChannels is not null)
                            {
                                <MudSelect T="Snowflake"
                                           @bind-Value="Greeting.ChannelID"
                                           Variant="Variant.Outlined">
                                    @foreach (var channel in _guildChannels)
                                    {
                                        <MudSelectItem Value="@channel.ID">
                                            @channel.Name.Value
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            }
                        }
                    </MudContainer>
                }

                @* Greeting Message *@
                <MudContainer Class="mb-4">
                    <MudList Clickable="false">
                        <MudListItem Class="pa-0">
                            <span class="mud-info-text">{u}</span> = Member's username
                        </MudListItem>

                        <MudListItem Class="pa-0">
                            <span class="mud-info-text">{s}</span> = Guild's name
                        </MudListItem>

                        <MudListItem Class="pa-0">
                            <span class="mud-info-text">{@@u}</span> = Member's mention
                        </MudListItem>
                    </MudList>

                    <MudTooltip Placement="Placement.Top"
                                Text="The message that will be used to greet new members">
                        <MudText Typo="Typo.h5">
                            Message
                        </MudText>
                    </MudTooltip>

                    <MudTextField @bind-Value="Greeting.Message"
                                  Class="mb-2"
                                  Immediate="true"
                                  Variant="Variant.Outlined"
                                  DisableUnderLine="true"
                                  Lines="3"
                                  Placeholder="@("Welcome {@u}! This is {s}, the best server around!")"
                                  Counter="0"/>

                    @if (Greeting.Message?.Length > EmbedMessageLengthThreshold)
                    {
                        <MudChip Variant="Variant.Outlined"
                                 Color="Color.Warning"
                                 Class="my-2">
                            The length of this greeting is greater than @EmbedMessageLengthThreshold characters,
                            and will be placed in an embed when sent.
                        </MudChip>
                    }
                </MudContainer>

                @* Save Button *@
                <MudContainer>
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               Disabled="IsBusy"
                               OnClick="SubmitAsync">
                        @SaveButtonText
                    </MudButton>
                </MudContainer>
            </MudForm>
        </MudCardContent>
    </MudCard>
}