@using Microsoft.AspNetCore.Components
@using Humanizer
@using Remora.Rest.Core
@using Silk.Data.Entities
@using static Silk.Dashboard.Converters.MudBlazorSnowflakeConverter
@using static Silk.Dashboard.Helpers.StringHelpers

@namespace Silk.Dashboard.Components

@inherits DashboardComponentBase

<MudCard Class="m-4">
    <MudForm Model="@Greeting" @ref="@_form">
        <MudCardContent>
            @* Guild ID *@
            <MudContainer Class="mb-4">
                <MudTooltip Placement="Placement.Bottom"
                            Text="The ID of the Guild to greet members in">
                    <MudText Typo="Typo.h5">
                        @LabelFor(nameof(Greeting.GuildID))
                    </MudText>
                </MudTooltip>

                <MudTextField T="Snowflake"
                              @bind-Value="@Greeting.GuildID"
                              Variant="Variant.Outlined"
                              Immediate="false"
                              Validation="@NonNullableValidator"
                              Converter="@NonNullableConverter"/>
            </MudContainer>

            @* Channel ID *@
            <MudContainer Class="mb-4">
                <MudTooltip Placement="Placement.Bottom"
                            Text="The ID of the channel to send the greeting to">
                    <MudText Typo="Typo.h5">
                        @LabelFor(nameof(Greeting.ChannelID))
                    </MudText>
                </MudTooltip>

                <MudTextField T="Snowflake"
                              @bind-Value="@Greeting.ChannelID"
                              Variant="Variant.Outlined"
                              Immediate="false"
                              Validation="@NonNullableValidator"
                              Converter="@NonNullableConverter"/>
            </MudContainer>

            @* Greeting Option *@
            <MudContainer Class="mb-4">
                <MudTooltip Placement="Placement.Bottom"
                            Text="How/when to greet new members">
                    <MudText Typo="Typo.h5">
                        @LabelFor(nameof(Greeting.Option))
                    </MudText>
                </MudTooltip>

                <MudSelect @bind-Value="@Greeting.Option"
                           Variant="Variant.Outlined">
                    @foreach (var greetingOption in _greetingOptions)
                    {
                        <MudSelectItem Value="@greetingOption">
                            @greetingOption.Humanize(LetterCasing.Title)
                        </MudSelectItem>
                    }
                </MudSelect>
            </MudContainer>
            
            @if (Greeting.Option is GreetingOption.GreetOnRole)
            {
                <MudContainer>
                    <MudTooltip Placement="Placement.Bottom"
                                Text="@MetaDataIdHelpText">
                        <MudText Typo="Typo.h5">
                            Role ID
                        </MudText>
                    </MudTooltip>

                    <MudTextField T="Snowflake?"
                                  @bind-Value="@Greeting.MetadataID"
                                  Variant="Variant.Outlined"
                                  Immediate="false"
                                  Validation="@NullableValidator"
                                  Converter="@NullableConverter"/>
                </MudContainer>
            }

            @* Greeting Message *@
            <MudContainer Class="mb-4">
                <MudList Clickable="false">
                    <MudListItem Class="pa-0">
                        <span class="mud-info-text">{u} </span>
                        Gets replaced with the member's username
                    </MudListItem>

                    <MudListItem Class="pa-0">
                        <span class="mud-info-text">{s} </span>
                        Gets replaced with the Guild's name
                    </MudListItem>

                    <MudListItem Class="pa-0">
                        <span class="mud-info-text">{@@u} </span>
                        Gets replaced with the member's mention
                    </MudListItem>
                </MudList>

                <MudTooltip Placement="Placement.Bottom"
                            Text="The message that will be used to greet new members">
                    <MudText Typo="Typo.h5">
                        Message
                    </MudText>
                </MudTooltip>

                <MudTextField @bind-Value="@Greeting.Message"
                              Class="mb-2"
                              Immediate="true"
                              Variant="Variant.Outlined"
                              DisableUnderLine="true"
                              Lines="6"
                              Placeholder="@("Welcome {@u}! This is {s}, the best server around!")"
                              MaxLength="@MaxMessageLength"/>
            </MudContainer>

            @* Save Button *@
            <MudContainer>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Disabled="@IsBusy"
                           OnClick="@SubmitAsync">
                    Save Changes
                </MudButton>
            </MudContainer>
        </MudCardContent>
    </MudForm>
</MudCard>